.sisyphically-styled {
  all: initial;
  * {
    all: unset;
  }

  $border-style: solid;
  $border-width: 2px;
  $border-color: #cccccc;

  display: table;

  border-style: $border-style;
  border-width: $border-width;
  border-color: $border-color;
  border-radius: 5px;

  tr {
    display: table-row;

    td, th {
      display: table-cell;
    }
  }

  border-collapse: collapse;

  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
  tbody {
    display: table-row-group;

    tr:not(:last-child) {
      border-bottom-style: $border-style;
      border-bottom-width: $border-width;
      border-bottom-color: $border-color;
    }
  }
}

.geo-loading-indicator {
  animation: fade-in-out 1s linear infinite;
}

@keyframes fade-in-out {
  50% { opacity: 0; };
}

.is-nearest {
  color: green;
}

.is-farthest {
  color: red;
}

.is-hidden {
  display: none !important;
}
