.sisyphically-styled {
  all: initial;
  * {
    all: unset;
  }

  display: table;

  tr {
    display: table-row;

    td, th {
      display: table-cell;
    }
  }
}

.geo-loading-indicator {
  animation: fade-in-out 1s linear infinite;
}

@keyframes fade-in-out {
  50% { opacity: 0; };
}

.is-nearest {
  color: green;
}

.is-farthest {
  color: red;
}
