.sisyphically-styled {
  all: initial;
  * {
    all: unset;
  }

  display: table;

  border-style: solid;
  border-width: 2px;
  border-color: #cccccc;
  border-radius: 5px;

  tr {
    display: table-row;

    td, th {
      display: table-cell;
    }
  }

  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
  tbody {
    display: table-row-group;
  }
}

.geo-loading-indicator {
  animation: fade-in-out 1s linear infinite;
}

@keyframes fade-in-out {
  50% { opacity: 0; };
}

.is-nearest {
  color: green;
}

.is-farthest {
  color: red;
}
